[Unit]
Description=Performs the "cvmfs_server resign"  command on all the handled repositories
After=cvmfs.service

[Service]
Type=simple
Restart=on-failure
RestartSec=5
StartLimitBurst=5
StartLimitIntervalSec=25
User=root
ExecStart=/etc/systemd/system/cvmfs-on-all-repos.sh resign

[Install]
WantedBy=multi-user.target