[Unit]
Description=Calls the "cvmfs_server snapshot" command every 15 minutes on a cvmfs stratum1

[Timer]
Unit=cvmfs-snapshot.service
OnBootSec=0min
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target